
    <link rel="stylesheet" href="../css/design.css"/>
<div class=" de-box">
    <div class="row z-depth-2">
        <ul class="tabs col de-tab">
            <li class="tab col s4"><a class="active" href="#de-test1">独立设计师</a></li>
            <li class="tab col s4"><a href="#de-test2">手工匠人</a></li>
            <li class="tab col s4"><a href="#de-test3">达人买手</a></li>
        </ul>
    </div>
    <div id="de-test1" class="col s12">
        <div class="center de-title">◆ 山药 ◆</div>
        <div class="row">
            <div class="col s12">
                <div class="card z-depth-1">
                    <div class="card-image">
                        <img src="../images/de-touxiang1.png">
                    </div>
                    <div class="card-content">
                        <h1 class="card-title">山药</h1>
                        <p>作品74/粉丝2800</p>
                        <img src="../images/de-line.png" class="responsive-img">
                        <div class="de-product row">
                            <span class="col s4"><img src="../images/de-cloth1.gif" alt="" class="responsive-img"></span>
                            <span class="col s4"><img src="../images/de-cloth2.gif" alt="" class="responsive-img"></span>
                            <span class="col s4"><img src="../images/de-cloth3.gif" alt="" class="responsive-img"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center de-title">◆ 我看到美丽的花布就会窒息 ◆</div>
        <div class="row">
            <div class="col s12">
                <div class="card z-depth-1">
                    <div class="card-image">
                        <img src="../images/de-touxiang2.jpg">
                    </div>
                    <div class="card-content">
                        <h1 class="card-title">破蛋花姑娘</h1>
                        <p>作品74/粉丝2800</p>
                        <img src="../images/de-line.png" alt="" class="responsive-img">
                        <div class="de-product row">
                            <span class="col s4"><img src="../images/de-person1.jpg" class="responsive-img"></span>
                            <span class="col s4"><img src="../images/de-person2.jpg" class="responsive-img"></span>
                            <span class="col s4"><img src="../images/de-person3.jpg" class="responsive-img"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="de-test2" class="col s12">
        <div class="center de-title">◆ 一川饰品 ◆</div>
        <div class="row">
            <div class="col s12">
                <div class="card z-depth-1">
                    <div class="card-image">
                        <img src="../images/de-touxiang3.jpg" class="responsive-img">
                    </div>
                    <div class="card-content">
                        <h1 class="card-title">一川饰品</h1>
                        <p>作品74/粉丝2800</p>
                        <img src="../images/de-line.png" alt=""/>
                        <div class="de-product row">
                            <span class="col s4"><img src="../images/de-shipin1.jpg" class="responsive-img"></span>
                            <span class="col s4"><img src="../images/de-shipin2.jpg" class="responsive-img"></span>
                            <span class="col s4"><img src="../images/de-shipin3.jpg" class="responsive-img"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center de-title">◆ 本无 ◆</div>
        <div class="row">
            <div class="col s12">
                <div class="card z-depth-1">
                    <div class="card-image">
                        <img src="../images/de-touxiang4.jpg">
                    </div>
                    <div class="card-content">
                        <h1 class="card-title">本无</h1>
                        <p>作品74/粉丝2800</p>
                        <img src="../images/de-line.png" class="responsive-img" alt=""/>
                        <div class="de-product row">
                            <span class="col s4"><img src="../images/de-wood1.jpg" class="responsive-img" alt=""/></span>
                            <span class="col s4"><img src="../images/de-wood2.jpg" class="responsive-img" alt=""/></span>
                            <span class="col s4"><img src="../images/de-wood3.jpg" class="responsive-img" alt=""/></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="de-test3" class="col s12">
        <div class="center de-title">◆ 东景记 ◆</div>
        <div class="row">
            <div class="col s12">
                <div class="card z-depth-1">
                    <div class="card-image">
                        <img src="../images/de-touxiang5.jpg">
                    </div>
                    <div class="card-content">
                        <h1 class="card-title">东景记</h1>
                        <p>作品74/粉丝2800</p>
                        <img src="../images/de-line.png" class="responsive-img" alt=""/>
                        <div class="de-product row">
                            <span class="col s4"><img src="../images/de-sock1.jpg" class="responsive-img" alt=""/></span>
                            <span class="col s4"><img src="../images/de-sock2.jpg" class="responsive-img" alt=""/></span>
                            <span class="col s4"><img src="../images/de-sock3.jpg" class="responsive-img" alt=""/></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center de-title">◆ 大小说家为守梦人而生 ◆</div>
        <div class="row">
            <div class="col s12">
                <div class="card z-depth-1">
                    <div class="card-image">
                        <img src="../images/de-touxiang1.png">
                    </div>
                    <div class="card-content">
                        <h1 class="card-title">大小说家文艺复兴男装</h1>
                        <p>作品74/粉丝2800</p>
                        <img src="../images/de-line.png"  class="responsive-img" alt=""/>
                        <div class="de-product row">
                            <span class="col s4"><img src="../images/de-cloth1.gif"  class="responsive-img" alt=""/></span>
                            <span class="col s4"><img src="../images/de-cloth2.gif"  class="responsive-img" alt=""/></span>
                            <span class="col s4"><img src="../images/de-cloth3.gif"  class="responsive-img" alt=""/></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/materialize.js"></script>

