 	<link href="../css/wode.css" type="text/css" rel="stylesheet" media="screen,projection"/>
 <div class="usr_header">
    <div></div>
     <h6>欢迎回来：{{username}}</h6>
     <button class="waves-effect waves-light btn" ng-click="logout()">{{btn}}</button>
</div>
<ul class="collection with-header">
    <li class="collection-item"><div>我的订单<a href="#!" class="secondary-content">查看全部订单 <i class="material-icons fa fa-chevron-right"></i></a></div></li>
    <li class="collection-item"><div>购物车<a href="#!" class="secondary-content"><i class="material-icons fa fa-chevron-right"></i></a></div></li>
    <li class="collection-item"><div>待发货<a href="#!" class="secondary-content"><i class="material-icons fa fa-chevron-right"></i></a></div></li>
    <li class="collection-item"><div>待收货<a href="#!" class="secondary-content"><i class="material-icons fa fa-chevron-right"></i></a></div></li>
    <li class="collection-item"><div>待评价<a href="#!" class="secondary-content"><i class="material-icons fa fa-chevron-right"></i></a></div></li>
    <li class="collection-item"><div>退款/售后<a href="#!" class="secondary-content"><i class="material-icons fa fa-chevron-right"></i></a></div></li>
</ul>

