<!--<div class="tilcor red center alert">{{title}}</div>-->
<div class="row" style="margin-top: 20%;">
    <form class="col s12"  method="post"  ng-submit="register()" novalidate>
	      <div class="row">
	        <div class="input-field col s12">
	          <input name="username" id="first_name" type="text" ng-model="user.username" class="validate">
	          <label for="first_name">用户名</label>
	        </div>
	      </div>
	      <div class="row">
	        <div class="input-field col s12">
	          <input name="password" id="password" type="password" ng-model="user.password" class="validate">
	          <label for="password">密码</label>
	        </div>
	      </div>
	      <div class="row">
	        <div class="input-field col s12">
	          <input name="repassword" id="repassword" type="password" ng-model="user.repassword" class="validate">
	          <label for="repassword">二次密码</label>
	        </div>
	      </div>
	      <div class="row">
	        <div class="input-field col s12">
	        	<input style="width: 100%;" class="btn waves-effect waves-light" type="submit" value="注册" />
	        </div>
	      </div>
	      <div class="row">
	        <div class="input-field col s12">
		      <a style="width: 100%;" id="register" class="btn waves-effect waves-light red" value="注册" ui-sref="login">登录</a>
	        </div>
	      </div>
    </form>
  </div>
  <script type="text/javascript">
  	
  </script>
        